#back-to-top {
    display: block;
    position: fixed;
    right: 40px;
    bottom: 40px;
    cursor: pointer;
    background: $point-color;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    text-align: center;
    color: #ffffff;
    z-index: 99;
    transition: all 0.3s ease-in-out;
    opacity: 1;
    transform: translate(0px, 0px);
    
    &:hover {
        background: $black;
    }
}

.back-to-top-hide {
    opacity: 0 !important;
    transform: translate(0px, 12px) !important;
}

