#back-to-top {
    display: block;
    position: fixed;
    right: 40px;
    bottom: 40px;
    cursor: pointer;
    background: $point-color;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    text-align: center;
    color: #ffffff;
    z-index: 99;
    transition: all 0.3s ease-in-out;
    opacity: 1;
    transform: translate(0px, 0px);
    
    &:hover {
        background: $black;
    }
}

.back-to-top-hide {
    opacity: 0 !important;
    transform: translate(0px, 12px) !important;
}

// .btn {
//     transition: all 0.3s ease-in-out;
//     background-color: #ccc;
//     margin-bottom: 8px;
// }

// .btn-default {
//     border: 0;
//     background: $black;
//     color: #ffffff !important;
//     padding: 15px 30px;
//     display: inline-block;
//     color: inherit;
//     vertical-align: middle;
//     position: relative;
//     z-index: 1;
//     text-transform: uppercase;
//     letter-spacing: 6px;
//     font-weight: normal;
//     border-radius: 0;

//     &:focus {
//         outline: none;
//         background: #444444;
//     }

//     > span {
//         vertical-align: middle;
//         color: #ffffff;
//     }
// }

// .btn-rayen {
//     overflow: hidden;
//     padding: 0;

//     &:before {
//         content: attr(data-text);
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         background: $main-color;
//         transform: translate3d(-100%, 0, 0);
//         color: #ffffff;
//     }

//     > span {
//         display: block;
//     }

//     &:before,
//     > span {
//         padding: 1em 2em;
//         transition: transform 0.3s;
//         transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
//     }

//     &:hover {
//         &:before {
//             transform: translate3d(0, 0, 0);
//         }

//         span {
//             transform: translate3d(0, 100%, 0);
//         }
//     }
// }

// .btn-wapasha {
//     background: $black;
//     color: #ffffff;
//     transition: background-color 0.3s, color 0.3s;

//     &:before {
//         content: "";
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         border: 2px solid $point-color;
//         z-index: -1;
//         border-radius: inherit;
//         opacity: 0;
//         transform: scale3d(0.6, 0.6, 1);
//         transition: transform 0.3s, opacity 0.3s;
//         transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
//     }

//     &:hover {
//         background-color: transparent;
//         color: $point-color;

//         &:before {
//             transform: scale3d(1, 1, 1);
//             opacity: 1;
//         }
//     }
// }
