* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $white;
    font-family: $ds-font-family;
}

.container {
    @media (min-width: 1400px) {
        width: 1400px;
    }
}

p {
    font-size: $ds-font-size-small;
    line-height: 22px;
    margin-bottom: 22px;
}

#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



