* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $white;
    font-family: $ds-font-family;
}

.container {
    padding-left: 15px;
    padding-right: 15px;

    @media (min-width: 768px) {
        margin-right: auto;
        margin-left: auto;
        width: 750px;
    }

    @media (min-width: 992px) {
        width: 970px;
    }

    @media (min-width: 1200px) {
        width: 1170px;
    }

    @media (min-width: 1400px) {
        width: 1400px;
    }
}


p {
    font-size: $ds-font-size-small;
    line-height: 22px;
    margin-bottom: 22px;
}

#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a,
a:active {
    text-decoration: none;
    outline: none;
}

a:hover {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:focus {
    outline: none;
}
