$main-color: #284185; //424242
$point-color: #be33ac;
$white: #f5f5f5;
$black: #111111;

$ds-font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;

$ds-font-size-large: ds-rem-calc(18) !default;
$ds-font-size-medium: ds-rem-calc(16) !default;
$ds-font-size-small: ds-rem-calc(14) !default;
