.about__content__box {
    margin: 0 0 20px 0;
}

.exp-wrap {
    width: 100%;
    border-bottom: 1px solid $light;
    float: left;
    margin: 0 0 15px 0;

    .desc {
        float: left;
        width: calc(100% - 150px);

        h4 {
            span {
                color: $light;
                font-weight: $ds-font-weight;
            }
        }

        .location {
            margin-bottom: 0;
        }
    }

    .year {
        float: left;
        margin-top: 16px; 
        width: 150px;
        text-align: right;
    }
}

.progress-wrap {
    margin-bottom: 30px;

    h4 {
        font-size: 18px;
        margin-bottom: 10px;
    }
}

.progress {
    height: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: $light;
    overflow: visible;
    border-radius: 0;
}

.progress-bar {
    background: $main-color;
    -webkit-box-shadow: none;
    box-shadow: none;
    line-height: 1.2;
    color: $light;
    font-weight: $ds-font-weight;
    text-align: right;
    position: relative;
    overflow: visible;
    border-radius: 30px;

    span {
        position: absolute;
        top: -34px;
        right: 0;
        color: $light;
    }

    &:after {
        content: "";
        position: absolute;
        top: -3px;
        right: 0;
        width: 10px;
        height: 10px;
        background: $main-color;
        border-radius: 50%;
    }

    .color-1 {
        background: $main-color;
    }
}


