.navbar {
    font-size: 12px;
    margin: 20px 0;

    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        margin: 30px 0;
        height: 100px;
        align-items: center;
    }
}

.nav-main {
    display: flex;
    text-align: center;
    justify-content: center;
}

.main-header {
    list-style-type: none;
    display: none;
    width: 100%;

    @media (min-width: 768px) {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    li {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: 0 0 10px 0;

        @media (min-width: 768px) {
            margin: 10px;
        }

        a {
            width: 100%;
            white-space: nowrap;
            color: $black;
            text-transform: uppercase;
            transition: all 0.3s ease-in-out;
            letter-spacing: 4px;
            font-weight: normal;

            @media (min-width: 768px) {
                margin-right: 10px;
            }

            &:hover,
            &:focus {
                background: transparent;
                color: $point-color;
                border-bottom-color: $point-color;
            }

            &:after {
                content: "";
                display: block;
                height: 2px;
                background: $point-color;
                margin-top: 6px;
                opacity: 0;
                transform: translateY(12px);
                transition: all 0.3s ease-in-out;
            }

            &:hover:after {
                transform: translateY(0px);
                opacity: 1;
            }
        }
    }
}

.nav-links,
.logo {
    text-decoration: none;
    color: $black;
}

.nav-links {
    @media (min-width: 768px) {
        &:hover {
            color: $point-color;
        }
    }
}

.logo {
    display: block;
    height: auto;
    width: 100px;
    padding-left: 20px;

    @media (min-width: 768px) {
        width: 120px;
    }

    img, svg {
        max-width: 100%;
        opacity: 0.8;
    }
}

.navbar-toggle {
    position: absolute;
    top: 25px;
    right: 20px;
    cursor: pointer;
    font-size: 24px;

    @media (min-width: 768px) {
        display: none;
    }
}

.active {
    display: block;
}

.social-header {
    list-style-type: none;
    display: none;
    border-left: 1px solid #bbb;

    @media (min-width: 992px) {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    li {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: 10px auto;

        @media (min-width: 768px) {
            margin: 10px;
        }

        a {
            font-size: 18px;
            width: 35px;
            color: $black;
            background-color: transparent !important;

            &:hover {
                color: $point-color;
            }

            // &:after {
            //     display: none;
            // }
        }
    }
}
