.element {
    padding: 3px;

    .element-wrapper {
        position: relative;
    }
}

.main-content {
    padding-top: 0px;
    padding-bottom: 40px;

    @media (min-width: 992px) {
        min-height: 500px;
    }

    @media (max-width: 768px) {
        margin: 0;
    }
}

.element-content {
    @media (min-width: 992px) {
        width: 50%;
    }

    .element-wrapper {
        background: #f4f4f4;
        padding: 15px;
    }
}

.element-content-2 {
    @media (min-width: 992px) {
        width: 50%;
    }

    .element-wrapper {
        background: $black;
        color: #ffffff;
        padding: 15px;
    }

    .element-box {
        background: #333333 !important;

        &:before {
            background: #222222;
        }

        &:after {
            background: $black;
        }
    }
}

.element-big-content {
    width: 100%;

    @media (min-width: 992px) {
        width: 50%;
    }

    .element-wrapper {
        background: #f4f4f4;
        padding: 15px;

        @media (min-width: 992px) {
            min-height: 564px;
            padding: 50px;

        }

        p {
            @media (min-width: 992px) {
                font-size: 22px;
                line-height: 36px;
                font-weight: lighter;
                letter-spacing: 1px;
            }

            strong {
                @media (min-width: 992px) {
                    color: $main-color;
                }
            }
        }
    }
}

.element-big-content-about {
    width: 100%;

    .element-wrapper {
        padding: 15px;

        @media (min-width: 992px) {
            padding: 0 50px;
        }

        p {
            font-size: 16px;
            margin: 0;

            @media (min-width: 992px) {
                line-height: 36px;
                font-weight: lighter;
                letter-spacing: 1px;
            }
        }
    }
}

.element-big-content-title {
    font-weight: bold;
    font-size: 22px;
}

.element-big-content-ico {
    width: 40px;
    margin-bottom: 15px;
}

.element-big-content-contact {
    width: 100%;
    text-align: center;

    .element-wrapper {
        display: inline-block;
        padding: 15px;
        width: 80%;
        // min-height: 564px;

        @media (min-width: 992px) {
            padding: 50px;
            width: 60%;
        }
    }
}

// Home
.element-profile {
    width: 100%;
}

.profile {
    position: relative;
    overflow: hidden;
}

.profile-hover .profile-mask {
    opacity: 0;
}
.profile-picture {
    position: relative;
    z-index: 1;
    transform: translateX(0);
    transition: all 0.5s ease-in-out;

    img {
        max-width: 100%;
    }
}

.profile-mask {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.01);
    color: #ffffff;
    text-align: center;
    transition: all 0.5s ease-in-out;
}

.profile-mask-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    top: 50%;
    margin-top: -25px;
    transform: translateY(0px);
    transition: all 0.8s ease-in-out;
    text-align: left;
    padding-left: 20px;

    @media (min-width: 992px) {
        padding-left: 110px;
    }
}

.profile-mask-content-hide {
    @media (min-width: 992px) {
        transform: translateX(60px);
        opacity: 0;
    }
}

//About

.element-services {
    width: 100%;

    @media (min-width: 768px) {
        width: 50%;
    }
    @media (min-width: 992px) {
        width: 25%;
    } 

    .element-wrapper {
        min-height: 279px;
        padding: 10px;
    }
}


.element-box {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    background: $main-color;
    overflow: hidden;

    p {
        margin-bottom: $ds-font-size-small;
        opacity: 0.9;
        font-weight: lighter;
    }

    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $side-color;
        z-index: 1;
        transition: all 0.4s ease-in-out;
        transform: translateX(-100%);
    }

    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $main-color;
        z-index: 2;
        transition: all 0.4s ease-in-out;
        transform: translateY(100%);
    }

    &:hover {
        text-decoration: none;
    }
}

.element-box-hover1:before {
    transform: translateX(0);
}

.element-box-hover2:after {
    transform: translateY(0);
}

.element-box-bg {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

.element-box-title {
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 12px;
    font-style: italic;
    opacity: 0.9;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: lighter;
    z-index: 2;
}

.element-box-ico {
    color: #ffffff;
    position: absolute;
    right: 0px;
    bottom: 0px;

    .see-more {
        display: inline-block;
        text-transform: uppercase;
        font-style: italic;
        font-size: 12px;
        position: relative;
        top: -2px;
        margin-right: 6px;
        font-weight: bold;
        opacity: 0;
        transform: translateX(10px);
        visibility: hidden;
        transition: all 0.4s ease-in-out;
    }
}

.element-box-ico2 {
    margin-bottom: 12px;

    img {
        width: 24px;
    }
}

.element-box-title2 {
    font-size: 12px;
    font-weight: normal;
    letter-spacing: -0.5px;
    margin-top: 0;
    margin-bottom: 1px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.element-box-ico-hover .see-more {
    opacity: 1 !important;
    transform: translateX(0px) !important;
    visibility: visible !important;
}


.service-item {
    text-align: left;
    padding-right: 40px;
    margin-top: 40px;
}
.service-ico {
    color: #ffffff !important;
    margin-bottom: 15px;
    font-size: 18px;
}
.service-ico img {
    width: 32px;
}
.service-title {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.5px;
    margin-top: 0;
    transition: all 0.3s ease-in-out;
    color: #ffffff;
}
.service-description {
    margin-bottom: 0;
}
.service-description p {
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
    margin-bottom: 0;
}
.section-item-title-1 {
    font-weight: bold;
    color: #021533;
    color: #333;
    padding-left: 0;
    margin-left: 0;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    margin-bottom: 8px;
    letter-spacing: -1px;
}

//Portfolio

.element-portfolio-filter {
    width: 100%;

    .element-wrapper {
        background-color: transparent;

        @media (min-width: 992px) {
            padding-bottom: 60px;
        }
    }
}

.portfolio-filter-header {
    list-style: none;
    padding-left: 0;
    margin: 0;
    text-align: center;

    li {
        margin: 0;
        padding-left: 0;
        display: inline-block;
        height: 40px;

        @media (min-width: 768px) {
            height: auto;
        }

        a {
            color: $black;
            padding: 10px;
            padding-left: 15px;
            padding-right: 15px;
            border: 1px solid $black;
            transition: all 0.3s ease-in-out;
            letter-spacing: 2px;

            @media (min-width: 992px) {
                letter-spacing: 6px;
                font-size: 12px;
                text-transform: uppercase;
            }

            &:hover,
            &:focus {
                text-decoration: none;
                background: $point-color;
                color: #ffffff;
                border: 1px solid $point-color;
            }
        }
    }
}

// square
.element-portfolio-item {
    width: 100%;

    @media (min-width: 768px) {
        width: 50%;
    }

    @media (min-width: 992px) {
        width: 25%;
    }

    .element-wrapper {
        min-height: 279px;
    }

}

// big square
.element-portfolio-item1 {
    width: 100%;

    @media (min-width: 992px) {
        width: 50%;
    }

    .element-wrapper {
        min-height: 564px;
    }
}

// width long
.element-portfolio-item2 {
    width: 100%;

    @media (min-width: 992px) {
        width: 50%;
    }
}

.portfolio-item {
    padding: 0;
    width: 100%;
    position: absolute;
    opacity: 1;
    transition: all 0.8s ease-in-out;
    transform: translateY(0px);
    margin-bottom: 10px;
    height: 100%;

    @media (min-width: 768px) {
        margin-bottom: 0;
    }

    a {
        display: block;
        transition: all 0.6s ease-in-out;
    }
}

.portfolio-hover-animation {
    transition: all 0.4s ease-in-out;
}

.portfolio-thumbnail {
    display: block;
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    color: #ffffff;

    &:hover {
        color: #ffffff;

        .portfolio-description-wrapper {
            opacity: 1;
        }

        .portfolio-title {
            transform: translateY(0px);
        }

        .see-more {
            opacity: 1;
            transform: translateY(0px);
        }

        .portfolio-item-ico {
            opacity: 1;
            transform: translateX(0px);
        }
    }
}

.portfolio-description-wrapper {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    color: #ffffff;
    position: relative;
}

.portfolio-description {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;

    .portfolio-title {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        background: $point-color;
        text-align: center;
        width: 100%;
        padding: 25px 15px;
        margin-bottom: 0;
        text-align: left;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: lighter;
        transform: translateY(60px);
        transition: all 0.4s ease-in-out;
    }

    .portfolio-item-ico {
        float: right;
        display: block;
        transform: translateX(-20px);
        opacity: 0;
        transition: all 0.4s ease-in-out;
        transition-delay: 0.4s;
    }

    .see-more {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        background: $point-color;
        color: #ffffff;
        padding: 8px;
        padding-top: 4px;
        padding-bottom: 4px;
        font-size: 10px;
        font-weight: bold;
        opacity: 1;
        transition: all 0.4s ease-in-out;
    }
}

