.project__section {
    display: flex;
    flex-direction: column;
    margin: 0 0 50px 0;

    &-title {
        margin: 0 0 40px 0;

        h2 {
            font-size: 25px;
            text-transform: uppercase;
        }
    }

    &-img {
        margin: 0 0 50px 0;
    }

    &-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media (min-width: 768px) {
            flex-direction: row;
        }

        &-info {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 0 0 20px 0;

            a {
                color: $point-color;
                
                &:hover {
                    color: $main-color;
                }
            }

            @media (min-width: 768px) {
                width: 29%;
            }

            h4 {
                font-size: 22px;
                text-transform: uppercase;
            }

            &-meta {
                margin: 10px 0 0 0;

                li {
                    list-style: none;
                    border-bottom: 1px solid $light;
                    font-size: 12px;
                    letter-spacing: 1px;
                    padding: 10px 0;
                    text-transform: uppercase;

                    span {
                        font-weight: bold;
                    }

                    i {
                        margin-right: 20px;
                        font-size: 16px;
                        line-height: normal;
                    }
                }
            }
        }

        &-detail {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 0 0 20px 0;

            @media (min-width: 768px) {
                width: 69%;
            }

            h4 {
                font-size: 22px;
                text-transform: uppercase;
                border-bottom: 1px solid $light;
                margin: 0 0 30px 0;
                padding: 0 0 10px 0;
            }

            p {
                margin: 0;
            }
        }
    }
}

.owl-page span {
    transition: all 0.3s ease-in-out;
}
.owl-page.active span {
    background: $main-color !important;
}

.project-single-carousel {
    padding: 3px;
    overflow: hidden;
    text-align: center;

    img {
        display: inline-block;
        width: 100%;
    }
}

/* clearfix */
.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.owl-carousel {
    display: none;
    position: relative;
    width: 100%;
}
.owl-carousel .owl-wrapper {
    display: none;
    position: relative;
}
.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight {
    transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item {
    float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div {
    cursor: pointer;
}
.owl-controls {
    user-select: none;
}

/* mouse grab icon */
.grabbing {
    cursor: url(../img/grabbing.png) 8 8, move;
}

.owl-theme .owl-controls {
    margin-top: 10px;
    text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div {
    color: #fff;
    display: inline-block;
    zoom: 1;
    margin: 5px;
    padding: 3px 10px;
    font-size: 12px;
    border-radius: 30px;
    background: #869791;
    opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
    opacity: 1;
    text-decoration: none;
}

/* Styling Pagination*/
.owl-theme .owl-controls .owl-page {
    display: inline-block;
    zoom: 1;
}
.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    border-radius: 20px;
    background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    opacity: 1;
}

/* If PaginationNumbers is true */
.owl-theme .owl-controls .owl-page span.owl-numbers {
    height: auto;
    width: auto;
    color: #fff;
    padding: 2px 10px;
    font-size: 12px;
    border-radius: 30px;
}

/* preloading images */
.owl-item.loading {
    min-height: 150px;
    background: url(../img/AjaxLoader.gif) no-repeat center center;
}
