.project__section {
    background: lightsalmon;
    display: flex;
    flex-direction: column;

    &-title {
        margin: 0 0 40px 0;

        h2 {
            font-size: 25px;
            text-transform: uppercase;
        }
    }

    &-img {
        background: lightblue;
        margin: 0 0 20px 0;

        img {
            width: 100%;
        }
    }

    &-text {
        background: lightpink;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media (min-width: 768px) {
            flex-direction: row;
        }

        &-info {
            background: lightcoral;
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 0 0 20px 0;

            @media (min-width: 768px) {
                width: 29%;
            }

            h4 {
                font-size: 22px;
                text-transform: uppercase;
            }

            &-meta {
                margin: 10px 0 0 0;

                li {
                    list-style: none;
                    border-bottom: 1px solid $light;
                    font-size: 12px;
                    letter-spacing: 1px;
                    padding: 10px 0;
                    text-transform: uppercase;

                    i {
                        margin-right: 20px;
                        font-size: 16px;
                        line-height: normal;
                    }
                }
            }
        }

        &-detail {
            background: lightgreen;
            display: flex;
            flex-direction: column;
            width: 100%;

            @media (min-width: 768px) {
                width: 69%;
            }

            h4 {
                font-size: 22px;
                text-transform: uppercase;
                border-bottom: 1px solid $light;
                margin: 0 0 30px 0;
                padding: 0 0 10px 0;
            }

            p {
                margin: 0 0 20px 0;
            }
        }
    }
}



// .project-title-wrapper {
//     position: relative;

//     .project-title {
//         text-align: center;
//         font-size: 22px;
//         font-weight: bold;
//         text-transform: uppercase;
//         // letter-spacing: 2px;
//         padding-bottom: 20px;
//         margin: 0;
//         // border: 1px solid $black;

//         // @media (min-width: 992px) {
//         //     border: 0;
//         //     display: inline-block;
//         //     position: absolute;
//         //     top: -180px;
//         //     z-index: 5555;
//         //     padding: 20px;
//         //     padding-left: 40px;
//         //     padding-right: 25px;
//         //     background: #ffffff;
//         //     font-weight: lighter;
//         //     letter-spacing: 8px;
//         //     font-size: 24px;
//         // }
//     }
// }

// .owl-page span {
//     transition: all 0.3s ease-in-out;
// }
// .owl-page.active span {
//     background: $main-color !important;
// }

// .project-single-carousel {
//     padding: 3px;
//     overflow: hidden;
//     text-align: center;

//     img {
//         display: inline-block;
//         width: 80%;
//     }
// }

// .element-project-description {
//     width: 100%;

//     @media (min-width: 992px) {
//         width: 50%;
//     }

//     .element-wrapper {
//         background: $white;
//         padding: 15px;

//         @media (min-width: 992px) {
//             min-height: 564px;
//             padding: 50px;
//         }

//         p {
//             @media (min-width: 992px) {
//                 font-size: 22px;
//                 line-height: 36px;
//                 font-weight: lighter;
//                 letter-spacing: 1px;
//             }
//         }
//     }
// }

// .element-project-infos {
//     width: 100%;
// }
// .element-project-infos .element-wrapper {
//     min-height: 279px;
// }
// @media (min-width: 768px) {
//     .element-project-infos {
//         width: 50%;
//     }
// }
// @media (min-width: 992px) {
//     .element-project-infos {
//         width: 25%;
//     }
// }
// .element-project-infos .element-wrapper {
//     min-height: 279px;
// }
// .element-project-infos .element-wrapper {
//     min-height: 279px;
// }
// .section-project-infos .title1 {
//     font-size: 16px;
//     line-height: 24px;
// }
// .section-project-infos .title4 {
//     font-weight: bold;
//     font-size: 12px;
//     line-height: 22px;
// }
// .section-project-infos p {
//     font-size: 13px;
//     line-height: 18px;
// }
// .section-project-infos ul li {
//     font-size: 12px;
//     line-height: 24px;
//     text-transform: uppercase;
// }
// .project-infos-title-wrapper {
//     min-height: 150px;
// }
// .project-infos-col {
//     border-top: 1px solid $black;
//     padding-top: 30px;
//     min-height: 150px;
// }
// .project-single-footer {
//     margin-bottom: 40px;
//     border-top: 1px solid #333333;
//     padding-top: 20px;
// }





// /* clearfix */
// .owl-carousel .owl-wrapper:after {
//     content: ".";
//     display: block;
//     clear: both;
//     visibility: hidden;
//     line-height: 0;
//     height: 0;
// }
// .owl-carousel {
//     display: none;
//     position: relative;
//     width: 100%;
// }
// .owl-carousel .owl-wrapper {
//     display: none;
//     position: relative;
// }
// .owl-carousel .owl-wrapper-outer {
//     overflow: hidden;
//     position: relative;
//     width: 100%;
// }
// .owl-carousel .owl-wrapper-outer.autoHeight {
//     transition: height 500ms ease-in-out;
// }

// .owl-carousel .owl-item {
//     float: left;
// }
// .owl-controls .owl-page,
// .owl-controls .owl-buttons div {
//     cursor: pointer;
// }
// .owl-controls {
//     user-select: none;
// }

// /* mouse grab icon */
// .grabbing {
//     cursor: url(../img/grabbing.png) 8 8, move;
// }

// .owl-theme .owl-controls {
//     margin-top: 10px;
//     text-align: center;
// }

// /* Styling Next and Prev buttons */

// .owl-theme .owl-controls .owl-buttons div {
//     color: #fff;
//     display: inline-block;
//     zoom: 1;
//     margin: 5px;
//     padding: 3px 10px;
//     font-size: 12px;
//     border-radius: 30px;
//     background: #869791;
//     opacity: 0.5;
// }
// /* Clickable class fix problem with hover on touch devices */
// /* Use it for non-touch hover action */
// .owl-theme .owl-controls.clickable .owl-buttons div:hover {
//     opacity: 1;
//     text-decoration: none;
// }

// /* Styling Pagination*/
// .owl-theme .owl-controls .owl-page {
//     display: inline-block;
//     zoom: 1;
// }
// .owl-theme .owl-controls .owl-page span {
//     display: block;
//     width: 12px;
//     height: 12px;
//     margin: 5px 7px;
//     opacity: 0.5;
//     border-radius: 20px;
//     background: #869791;
// }

// .owl-theme .owl-controls .owl-page.active span,
// .owl-theme .owl-controls.clickable .owl-page:hover span {
//     opacity: 1;
// }

// /* If PaginationNumbers is true */
// .owl-theme .owl-controls .owl-page span.owl-numbers {
//     height: auto;
//     width: auto;
//     color: #fff;
//     padding: 2px 10px;
//     font-size: 12px;
//     border-radius: 30px;
// }

// /* preloading images */
// .owl-item.loading {
//     min-height: 150px;
//     background: url(../img/AjaxLoader.gif) no-repeat center center;
// }
